.overflow{
    overflow-x: hidden;
}
.overflow::-webkit-scrollbar{
    width: 8px;
    border-radius: 4px;
    background-color: #fffdfd;
}
::-webkit-scrollbar-track{
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #fffdfd;
}
::-webkit-scrollbar-thumb{
    border-radius: 4px;
    background-color: #17a2b8
    
}