<h4 class="text-center">Lista de Gastos</h4>
<hr>
<div class="row text-center">
    <div class="col-md-6">
        <div class="alert alert-success" >
            Presupuesto: <strong>${{budget['budget']}}</strong>
        </div>
    </div>
    <div class="col-md-6">
        <div class="alert alert-success" [ngClass]="{'alert-danger': budget['budget'] * 0.2  >=  budget['remaining'], 'alert-warning': budget['budget'] * 0.4  >=  budget['remaining']    }" >
            Restante: <strong>${{budget['remaining']}}</strong>
        </div>
    </div>
</div>
<div class="overflow" style="max-height: 400px;">
    <div *ngFor='let expense of expenses; let i = index' class="row justify-content-center">
        <div class="col-sm-6 text-center">
            <hr>
            <strong>{{expense.expense}}</strong>
        </div>
        <div class="col-sm-4 text-center;">
            <hr class="d-none d-sm-block">
            <div class="row text-center">
                <div class="col-md-10">
                    <div>
                       
                        <spam>{{ expense.cost |currency }} </spam>
                    </div>
                </div>
                <div class="col-md-2">
                    <div (click)='deleteExpense(i)'>
                        <i class="fas fa-trash "></i>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>